@charset "UTF-8";
.main .accept {
  display: block;
  width: auto;
  margin: 100px auto;
  text-align: center;
}
.main .accept .sub-title {
  font-size: 20px;
}
.main .accept img {
  width: 16px;
  display: block;
  margin: 0 auto;
}
.main .accept button {
  margin-left: 22px;
  margin-right: 22px;
}
