<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../components/less/common.css">
    <link rel="stylesheet" href="salary_give.css">
    <title>工资发放</title>
</head>
<body class="layout layout-m-w">

<div class="container">
    <div class="nav">
        <div class="logo">
            <img src="../../static/images/logo@2x.png" alt="">
        </div>
        <ul class="menus">
            <li>首页</li>
            <li>工程项目
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
            <li>工资支付
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
            <li>安全中心
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
            <li>数据分析
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="banner">
            <div class="breadcrumbs">工资支付<span>></span>工资发放</div>
            <div class="table-title">
                <span>
                    <em></em>
                    工资发放
                </span>
            </div>

        </div>

        <table class="ui-table">
            <thead>
            <tr>
                <td>创建时间</td>
                <td>订单号</td>
                <td>项目</td>
                <td>班组|人数</td>
                <td>发放金额(元)</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2016-03-29 <br>13:56:02</td>
                <td>123456789876543</td>
                <td>工信保天津市天津市和平区 <br>测试</td>
                <td>小马</td>
                <td>-1000</td>
                <td class="failed">
                    <button class="btn btn-primary comfirm-give">确定发放</button>
                    <a href="javascript:" class="item-detail">详情</a></td>
            </tr>
            <tr>
                <td>2016-03-29 <br>13:56:02</td>
                <td>123456789876543</td>
                <td>工信保天津市天津市和平区 <br>测试</td>
                <td>小马</td>
                <td>-1000</td>
                <td class="failed">
                    <button class="btn btn-primary comfirm-give">确定发放</button>
                    <a href="javascript:" class="item-detail">详情</a></td>
            </tr>
            <tr>
                <td>2016-03-29 <br>13:56:02</td>
                <td>123456789876543</td>
                <td>工信保天津市天津市和平区 <br>测试</td>
                <td>小马</td>
                <td>-1000</td>
                <td class="failed">
                    <button class="btn btn-primary comfirm-give">确定发放</button>
                    <a href="javascript:" class="item-detail">详情</a></td>
            </tr>
            <tr>
                <td>2016-03-29 <br>13:56:02</td>
                <td>123456789876543</td>
                <td>工信保天津市天津市和平区 <br>测试</td>
                <td>小马</td>
                <td>-1000</td>
                <td class="failed">
                    <button class="btn btn-primary comfirm-give">确定发放</button>
                    <a href="javascript:" class="item-detail">详情</a></td>
            </tr>
            <tr>
                <td>2016-03-29 <br>13:56:02</td>
                <td>123456789876543</td>
                <td>工信保天津市天津市和平区 <br>测试</td>
                <td>小马</td>
                <td>-1000</td>
                <td class="failed">
                    <button class="btn btn-primary comfirm-give">确定发放</button>
                    <a href="javascript:" class="item-detail">详情</a></td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <div class="pagenator">
            <ul id="page-index">
            </ul>
        </div>
    </div>
</div>
<script src="../components/util/flexible.js"></script>
<script src="../components/vendors/jquery.min.js"></script>
<script src="../components/vendors/jqPaginator.min.js"></script>
<script src="../components/base/base.js"></script>
<script src="./salary_give.js"></script>
</body>
</html>