<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../components/less/common.css">
    <link rel="stylesheet" href="give_success.css">
    <title>请求已受理</title>
</head>
<body>

<div class="container">
    <div class="nav">
        <div class="logo">
            <img src="../../static/images/logo@2x.png" alt="">
        </div>
        <ul class="menus">
            <li>首页</li>
            <li>工程项目
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
            <li>工资支付
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
            <li>安全中心
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
            <li>数据分析
                <ul class="drop-down" hidden>
                    <li data-url="javascript:">下拉菜单1</li>
                    <li data-url="javascript:">下拉菜单2</li>
                    <li data-url="javascript:">下拉菜单3</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="success">
            <img src="./images/tick@2x.png" alt="">
            <p class="sub-title">本次申请成功,预计2小时到帐</p>
            <p>本次发放人数 <span class="num-body js-body">10</span>人,金额 <span class="count-money js-money">1000.00</span>元,具体到帐时间以银行为准
            </p>
            <button class="btn btn-defualt btn-size-md btn-rd-20 btn-white">返回</button>
            <button class="btn btn-size-md btn-primary btn-rd-20">查看支付记录</button>
        </div>
    </div>
</div>
<script src="../components/util/flexible.js"></script>
<script src="../components/vendors/jquery.min.js"></script>
<script src="../components/vendors/jqPaginator.min.js"></script>
</body>
</html>