.ui-table {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-collapse: collapse;
}
.ui-table thead td {
  font-size: 14px;
}
.ui-table td {
  height: 66px;
  text-align: center;
}
.ui-table tbody tr:nth-child(2n+1) {
  background-color: #f8fbfb;
}
.ui-table .failed {
  color: #ea6b6d;
}
.text-box {
  line-height: 50px;
  position: relative;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}
.text-box em {
  position: absolute;
  top: 17px;
  bottom: 17px;
  left: 12px;
  width: 3px;
  background: #2f9bcf;
}
.text-box span:last-child {
  color: #3c3c3c;
}
.text-box .table-title {
  font-size: 14px;
  padding-left: 30px;
}
.table-title {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  background: none;
  border: none;
  overflow: hidden;
  line-height: 46px;
}
.table-title em {
  position: absolute;
  top: 17px;
  bottom: 17px;
  left: 12px;
  width: 3px;
  background: #2f9bcf;
}
.table-title {
  font-size: 14px;
  color: #34474f;
}
.table-title span {
  font-size: 14px;
  padding-left: 30px;
}
