@charset 'UTF-8';

.nav
{
    position: relative;

    height: 100px;

    background: url('./img/bg_header.png') no-repeat bottom center;
    background-size: 100% 72px;
}

.nav .txt_guide
{
    font-size: 11px;
    line-height: 20px;
    line-height: 20px;
    position: absolute;
    top: 30px;
    left: 0;
    margin: 0;
    padding-left: 12px;
    color: #a2aebb;
}

.nav .table_title
{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    border: none;
    background: none;
}

.table_title
{
    font-size: 14px;
    line-height: 46px;
    position: relative;
    overflow: hidden;
    height: 46px;
    margin: 0;
    padding: 0 30px;
    color: #34474f;
    border-bottom: #f2f6f7 1px solid;
    background: #fff;
}

html
{
    min-width: 1024px;
}

body
{
    font: 14px/1.5 Arial, 'Microsoft Yahei';

    background-color: #eef2f3;
}

.container
{
    background-color: #fff;
}

div
{
    font-family: 微软雅黑;
}

.form-find
{
    margin-top: 1rem;
}

.form-pagenation
{
    height: 3rem;

    text-align: right;
}

.form-pagenation ul
{
    display: inline-block;

    margin-bottom: 0;
}

.form-pagenation ul li
{
    float: left;

    margin-left: 1rem;

    list-style-type: none;
}

.pagenatio-container
{
    position: relative;
}

/*分页器*/

.page-index
{
    padding-right: 8px;
    padding-left: 8px;
}

.page-index.current-page
{
    color: #fff;
    background-color: #f47d47;
}

.form-action a
{
    margin: 0 4px;

    color: #f47d47;
}

/*面包屑导航*/

.form-tab
{
    padding-left: 0;

    list-style-type: none;
}

.form-tab li
{
    float: left;

    padding-left: 20px;
}

.form-tab a
{
    color: #34474f;
}

a.active,
li.active > a
{
    color: #f47d47;
}

#publish-job,
#job-list
{
    margin-top: 20px;
}

.form-submit
{
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: right;
}

.form-submit button,
.btn-submit-job button
{
    color: #fff;
    background: #f47d47;
}

.form-submit button:hover,
.btn-submit-job button:hover
{
    color: #000;
    background: #f47d47;
}

/*表格*/

.table
{
    font-size: 12px;

    position: relative;

    table-layout: auto;
    border-collapse: collapse;

    word-wrap: break-word;

    border: 1px solid #f0f1f1;

    overflow-wrap: break-word;
}

.form-group label
{
    font-size: 1rem;
}

.endtime-label
{
    text-align: center;
}
