<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>目录板</title>
</head>
<style>
    a {
        text-decoration: none;
        color: #2f8acc;
    }

    .main {
        text-align: center;
    }
</style>
<body>
<div class="main">
    <p><a href="payment_index/index.html">首页</a></p>
    <p><a href="./jobList/index.html">工作列表</a></p>
    <p><a href="salary_give/salary_give.html">工资发放</a></p>
    <p><a href="salary_give/salary_give_info.html">工资发放详情</a></p>
    <p><a href="salary_give/salary_give_process.html">请求已受理</a></p>
    <p><a href="salary_give/salary_give_success.html">请求申请成功</a></p>
    <p><a href="salary_give/salary_unionpay.html">银联商务账单</a></p>
    <p><a href="salary_give/salary_unionpay_info.html">银联商务-支付详情</a></p>
    <p><a href="salary_give/salary_rapidpay.html">快捷通账单列表</a></p>
    <p><a href="salary_give/salary_rapidpay_info.html">快捷通支付详情</a></p>
    <p><a href="salary_apply/apply.html">工资申请</a></p>
</div>
</body>
</html>

